PORT=8000

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASS=admin123
# RABBITMQ_URI=amqp://admin:admin123@rabbitmq:5672/
RABBITMQ_URI=amqp://admin:admin123@localhost:5672/

NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shared?schema=public"

# Обязательные (или будут использованы defaults)
REDIS_HOST=localhost
REDIS_PORT=6379

# Опциональные
REDIS_PASSWORD=your_password_if_needed
REDIS_DB=0
REDIS_KEY_PREFIX=orchestrator:
REDIS_TTL=86400
REDIS_LOCK_TTL=300

# Logger configuration
LOG_CONSOLE_ENABLED=true
LOG_FILE_ENABLED=false
LOG_LEVEL=log
LOG_DIR=logs
LOG_COLORS_ENABLED=true